
body {
	background-color: black;
}

a {
    display: flex;
    justify-content: center;
    color: gray;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}


canvas {
    border: none;
}

.pyramidHeight, .blockSize {
	width: 30px;
	height: 15px;
	resize: none;
}

p {
	color: white;
}
